* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  align-items: center;  
  min-height: 100vh; 
  margin: 0; 
  background-color: red; 
}

#board {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}


#container {
  display: flex;
  flex-wrap: wrap;
  height: 560px;
  width: 560px;
}

.cell {
  border: 1px solid gray;
  background-color: lightgray;
}

#start, #erase {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #333;
  background-color: white;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
}
