* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  align-items: center;  
  min-height: 100vh; 
  margin: 0;  
}

#container {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;  
}

.cell {
  background-color: lightgrey; 
  box-sizing: border-box;
  height: 10px;
  width: 10px; 
  border: 1px solid gray;
}