* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  align-items: center;  
  min-height: 100vh; 
  margin: 0;  
}

#container {
  display: flex;
  flex-wrap: wrap;
  height: 560px;
  width: 560px;
}

.cell {
  border: 1px solid lightgray;
}