* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  align-items: center;  
  min-height: 100vh; 
  margin: 0;  
}

#container {
  display: flex;
  flex-wrap: wrap;
  max-height: 480px;  
  max-width: 480px; 
  gap: 0;
}

#test {
  flex: 1 1 calc(100% / 16);  
  aspect-ratio: 1; 
  width: 30px; 
  height: 30px;
  border: 1px solid black;
  box-sizing: border-box; 
}